.login-footer {
    color: var(--grey-700);
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;
    letter-spacing: -0.05px;
    border-radius: 0px 0px 1.5rem 1.5rem;
    background: var(--Grey-100, #FAFAFA);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-footer img {
    height: 2.5rem;
}

.separator-text {
    color: var(--grey-700);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: var(--body-text-medium);
    line-height: 1.25rem;
    letter-spacing: -0.004rem;
}

.link {
    color: var(--Grey-800);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: var(--body-text-regular);
    line-height: 1.25rem;
    letter-spacing: -0.004rem;
}

.getHelpContainer {
    font-size: 0.75rem;
}

.getHelp {
    color: var(--brand-500);
}

:root {
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;
}

.font-regular {
    font-weight: var(--font-regular);
}

.font-medium {
    font-weight: var(--font-medium);
}

.font-semibold {
    font-weight: var(--font-semibold);
}

.font-bold {
    font-weight: var(--font-bold);
}

.font-extrabold {
    font-weight: var(--font-extrabold);
}

.font-black {
    font-weight: var(--font-black);
}


.body-s {
    font-family: var(--body-font-family);
    font-size: 1rem;
    font-style: normal;
    line-height: 1.5rem;
    /* 150% */
    letter-spacing: -0.005rem;
}

.body-xs {
    font-family: var(--body-font-family);
    font-size: 0.875rem;
    font-style: normal;
    line-height: 1.25rem;
    letter-spacing: -0.004rem;
}

.gray-000 {
    color: var(--gray--000);
}

.gray-100 {
    color: var(--gray--100);
}

.gray-200 {
    color: var(--gray--200);
}

.gray-300 {
    color: var(--gray--300);
}

.gray-400 {
    color: var(--gray--400);
}

.gray-500 {
    color: var(--gray--500);
}

.gray-600 {
    color: var(--gray--600);
}

.gray-700 {
    color: var(--gray--700);
}

.gray-800 {
    color: var(--gray--800);
}

.gray-900 {
    color: var(--gray--900);
}