.Form-container {
    background: #fdfdfd;
    width: 100%;
    background-image: url(../assests/form-bg.png);
    background-repeat: no-repeat;
    background-position: bottom left -387px;
    margin: 0 auto;
    background-size: 130%;
}

.LoginContainer {
    width: 450px;
    background: #fff;
    border-radius: 24px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
    float: right;
}
.login-page {
    max-width: 1440px;
    min-height: 1024px;
    height: 100vh;
    width: 86%;
    margin: 0 auto;
    justify-content: flex-end;
    display: flex;
    padding-top: 120px;
    
}
.left-section, .right-section{ flex:1 }
.left-section > .loginTitle {
    color: var(--grey-800, #212121);
    font-size: 56px;
    font-style: normal;
    font-weight: 300;
    line-height: 72px;
    letter-spacing: -0.56px;
}
.loginTitle{
    margin-top: 5rem
}
