.login-footer{
    color: var(--grey-700);   
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;
    letter-spacing: -0.05px;
    border-radius: 0px 0px 1.5rem 1.5rem;
    background: var(--Grey-100, #FAFAFA);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-footer img{
    height: 2.5rem;
}
.separator-text{
    color: var(--grey-700);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: var(--body-text-medium);
    line-height: 1.25rem; 
    letter-spacing: -0.004rem;
}
.link{
    color: var(--Grey-800);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: var(--body-text-regular);
    line-height: 1.25rem; 
    letter-spacing: -0.004rem;
}
.getHelpContainer{ font-size:0.75rem;}
.getHelp{ color: var(--brand-500);}